.jumbotron{
    margin-bottom : 0;
    // background-color: rgb(110, 210, 255);
    // background-color : rgb(144, 233, 255);
    //background-image : url("resources/images/castleCenter.png");
    color : white;


// background : -webkit-gradient(top, 80% 20%, 15% 50%, from(#00C2FF), to(#FFFFFF));

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#729fcf+0,a6cbea+70,ffffff+100 */
background: #24b8ff; /* Old browsers */
background: -moz-linear-gradient(top, #24b8ff 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #24b8ff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #24b8ff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24b8ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}