.jumbotron{
    margin-bottom : 0;
    // background-color: rgb(110, 210, 255);
    // background-color : rgb(144, 233, 255);
    background-image : url("resources/images/castleCenter.png");
    color : white;
}