<div class="header-container">
    <header class="header">
        <div class="jumbotron">

            <img anim-cloud class="sprite-anim cloud" max="1" min="0.5" nbr="10"  src="resources/images/cloud1.png"></img>

            <div class="container">
                <h1>Grominion
                </h1>
                <h2>A small multiplayer game done with all our heart content <span class="glyphicon glyphicon-heart text-danger"></span></h2>
            </div>
        </div>
    </header>
</div>