<div class="header-container">
    <header class="header">
        <div class="jumbotron">

            <div class="cloud">
                <div class="fat-cloud">
                    <img src="resources/images/cloud.png">

                    <div class="small-cloud">
                        <img src="resources/images/cloud.png">
                    </div>

                </div>
            </div>


            <!--<div class="cloud fat-cloud"><img src="resources/images/cloud.png"></div>-->





            <div class="container">
                <h1>Worms Project</h1>
                <h2>A small multiplayer game done with all our heart content <span class="glyphicon glyphicon-heart text-danger"></span></h2>
            </div>
        </div>
    </header>
</div>