.inner-block{
    text-align: justify;
    display : inline-block;
    width:600px;
    vertical-align: center;
}

.inner-block p{
    padding : 20px;
}

.img-block{
    width : 270px;
    overflow : hidden;
    text-align : center;
}

.img-block img{
    max-width : 270px;
    max-height : 270px;
}

.right-align{
    text-align : right;
}


.left-align{
    text-align : left;
}