<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="accueil" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse in" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="profile" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)">Profile</a>
                    </li>
                    <li>
                        <a ui-sref="score" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)">Score</a>
                    </li>
                    <li>
                        <a ui-sref="download" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)">Download the game</a>
                    </li>
                </ul>
                <div ng-switch on="mc.logged">

                <ul class="nav navbar-nav navbar-right" ng-switch-when="true">
                    <li>
                        <a ui-sref="accueil" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)" ng-click="mc.disconnect()">Disconnect</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-switch-when="false">
                    <li>
                        <a ui-sref="signIn" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)">Sign-in</a>
                    </li>
                    <li>
                        <a ui-sref="connection" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)">Sign-up</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</nav>