<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a class="navbar-brand" ui-sref="accueil" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)"><span class="glyphicon glyphicon-home"></span></a>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="films" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)">Search your movies</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="signIn" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)">Sign-in !</a></li>
                <li><a ui-sref="connection" ui-sref-active="active" ng-mouseover="mc.changeColor($event)" ng-mouseleave="mc.resetColor($event)">Sign-up !</a></li>
            </ul>
        </div>
    </div>
</nav>