@import 'app/components/header/header.component.scss';
@import 'app/components/menu/menu.component.scss';
@import 'app/components/footer/footer.component.scss';

html{
    overflow-y: scroll;
}

body{
    min-height: 400px;
}

h2{
    margin-bottom: 50px;
}