@import 'app/main.scss';
@import 'app/components/header/header.component.scss';
@import 'app/components/menu/menu.component.scss';
@import 'app/components/footer/footer.component.scss';
@import 'app/components/download/download.component.scss';
@import 'app/components/score/score.component.scss';
@import 'app/components/profile/profile.component.scss';

html{
    overflow-y: scroll;
}

body{
    min-height: 400px;
}

.body-container{
    margin-bottom : 100px;
}

h2{
    margin-bottom: 10px;
}

#progressbar{
    background-color: black;
    border-radius: 15px; /* (height of inner div) / 2 + padding */
    text-align : center;
    padding: 3px;
    height: 26px;
}

#progressbar .progress {
    padding-bottom: 6px;
}

#progressbar > div {
    color : white;
    font-weight:bold;
    width : 0%;
   background-color: orange;

   border-radius: 15px;
}

