.footer-container{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.1em;
    padding-top: 20px;
    padding-bottom : 20px;
    background-image: url("../resources/images/brickWallModified.png");
    background-repeat: repeat;
}
.wide-content{
    background-image: url("../resources/images/liquidWaterTop.png");
}
