<div>
    <div class="results">

        <form class="form-inline" ng-submit="ex.search()">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-film"></i></span>
                <input type="text" placeholder="Movie name" name="title" ng-model="ex.title" class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="number" min="1900" max="2017" name="year" ng-model="ex.year" class="form-control">
            </div>

            <button type="submit" class="btn btn-search">Search</button>
        </form>
        <br>
        <fieldset>
            <legend>{{ex.resultC.Title}}</legend>
            <ul>
                <li>{{ex.resultC.Title}}</li>
                <li>{{ex.resultC.Year}}</li>
                <li>{{ex.resultC.Rated}}</li>
                <li>{{ex.resultC.Released}}</li>
                <li>{{ex.resultC.Plot}}</li>
            </ul>
        </fieldset>
    </div>
</div>